<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'hotel/master.html' %}
    {% load static %}
    <script src="{%static 'js/main.js' %}"></script>
    <title>
        {% block title%}
            Booking
        {% endblock %}
    </title>
</head>
<body>
    {% block content %}
    <div id="d12">
        <div id="d2"  style="padding-top: 10px;">
        <h1>Hotel Trikut Booking</h1>
        </div>
        {{data}}
                {{data.Check_In_Date}}
                    <div style="width: 600px; height: 600px; margin-left: 340px ; padding :20px;">
                        <form action="" method="post" style="text-align: center;" > 
                            {% csrf_token %}
                            
                            <div style="float: left; padding-left: 10px;">
                                Check-in-date <br>
                                <input type="date" name="CheckInDate" value="{{data.Check_In_Date}}">  <br><br>
                            </div>
                            <div style="float: left; padding-left: 10px;">
                                Check-out-date <br>
                                <input type="date" name="CheckOutDate" value="{{data.Check_Out_Date}}">  <br><br>
                            </div>
                            <div style="float: left; padding-left: 10px;">
                                Childrens <br>
                                <input type="number" name="ChildCount" style="width: 120px;" value="{{data.Child_Count}}"> <br><br>
                            </div>
                            <div style="float: left; padding-left: 10px;">
                                Adults <br>
                                <input type="number" name="AdultCount" style="width: 120px;" value="{{data.Adult_Count}}"> <br><br>
                            </div>
                        </form>
                    </div>
    </div>

    {% endblock %}
    
</body>
</html>