<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
</head>
<body>
    
    <div style="height: 250px; width: 500px ; background-color: black; float :left ">

    </div>
    <div style="height: 250px; width: 500px; ; background-color: blue; float:left">

    </div>
    <div style="height: 250px; width: 500px; ; background-color: blue; float: left">

    </div>
    <div style="height: 250px; width: 500px; ; background-color: black; float:left">

    </div>
    
    <div style="height: 500px; width: 1000px ; background-color: black; ">
        <div style="height: 250px; width: 1000px ; background-color: green; ">
            <div style="height: 250px; width: 500px ; background-color: pink; float: left; ">
            
            </div>
            <div style="height: 250px; width: 500px ; background-color: navy; float: left;">
            
            </div>

        </div>

        <div style="height: 250px; width: 1000px ; background-color: orange; ">
            <div style="height: 250px; width: 500px ; background-color: navy; float: left; ">
            
            </div>
            <div style="height: 250px; width: 500px ; background-color: pink; float: left; ">
            
            </div>
            
        </div>

    </div>
</body>
</html>