<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/index.css' %}">
    <title>Static page</title>
    <style>
    h2{
        color: green;
    }

    #d1{
        color: plum;
    }
    .f1{
        background-color: greenyellow;
    }
    /* body{
        background-image: url(https://cdn.wallpapersafari.com/96/74/AJ8k4h.jpg);
    } */
    </style>

</head>
<body>
    <h1 style="color: aqua;">welcome to my first project</h1>
    <h2>kya bolti public</h2>
    <h2>machayenge</h2><br><br>
    <h3>tuza baghta maza sara </h3>
    <h3>hishob chukla hota</h3>
    <h3>me amavasyela chandra</h3>
    <h3>pahila hota</h3>

    <img src="{%static 'images/image1.jpeg' %}" alt="item is missing"  height="400px" width="300px">

    <h5 id="d1">
        what's up buddy
    </h5>

    <h6 id="d1">
        it's you always you 

    </h6>

    <p class="f1">Yametet kudasai sensei ...........aaaaaaaaaa</p>

    <h3>Tum ankho se batana by dikshant</h3>
    <!-- <video src="{%static ''%}" height="" width=""></video> -->
    <video src="https://youtu.be/ZJ34geQLtUE?si=zRlaeEer_SkHsINS"></video>
</body>
</html>