<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'hotel/master.html' %}
    {% load static %}
    <title>
        {% block title%}
            About Us
        {% endblock %}
    </title>
</head>
<body>
    {% block content %}

    <div  style=" width:100%;" id="d6">
        <h1 id="d2">Contact Us </h1>
        <br>
        <h3>Address:</h3>
        TRIKUT HOTEL <br>
        Near gandhi road <br>
        Panvel, Mahrashtra, 410220 <br>
        India <br> <br>
        
        <h3>Phone Number:</h3>
        Main Reception: +91 9349384727 <br>
        Reservations: +91 9767346723 <br> <br>
        
        <h3>Email Address:</h3>
        General Inquiries: Trikuthotel@gmail.com <br>
        Reservations: Trikuthotelreservation@gmail.com <br> <br>
         
        <h3>Operating Hours:</h3>
        24/7 <br><br>

        <!-- <h3>Feedback and Support:</h3>
        <input type="text"> <br> <br> -->

    </div>


    {% endblock %}
    
</body>
</html>