<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'hotel/master.html' %}
    {% load static %}
    <script src="{%static 'js/main.js' %}"></script>
    <title>
        {% block title%}
            Gallery
        {% endblock %}
    </title>
</head>
<body>
    {% block content %}
    <div id="d5">
        <div style="height: 400px; width:100%; padding-top: 100px;">
            <div style="height: 400px; width: 500px;  float: left; margin-top: 40px;" >
                <img src="{%static 'images/img1.jpg' %}"  width="450px" height="340px" alt="..." id="d1" >
            </div>

            <div  style="height: 400px; width: 760px; float: left; margin-top: 40px; text-align: justify; font-family: Times New Roman; ">
                <br>
            <h1 id="d2">Welcome to TRIKUT hotel</h1> 

                <h3 id="d3">Discover the epitome of luxury and comfort at Trikut Hotel. Nestled in the heart of Panvel, our hotel offers exquisite rooms, world-class amenities, and unparalleled hospitality. Whether you're on a business trip or a relaxing getaway, experience a stay that feels like home, only better.</h3>

            </div>
        </div>

        

        <div style="height: 400px; width:100%; ">
            <div  style="height: 400px; width: 760px; float: left; margin-top: 0px; text-align: justify; font-family: Times New Roman;">
                <br>
                <h3 id="d3">Step into a world of visual delight with our carefully curated gallery. Immerse yourself in a captivating journey through stunning images that capture the essence of our  Trikut hotel. From elegant interiors and breathtaking landscapes to unforgettable moments, our gallery paints a vivid picture of what awaits you. Whether you're planning your visit or simply seeking inspiration, our gallery is a window to the extraordinary experiences that define us.</h3> 
            </div>

            <div style="height: 400px; width: 500px;  float: left; margin-top: 0px; " >
                <img src="{%static 'images/img15.jpg' %}"  width="450px" height="340px" alt="..." id="d1" >
            </div>
        </div>

        





        <div style="height: 400px; width:100%; ">
            <div style="height: 400px; width: 500px;  float: left; margin-top: 0px; " >
                <img src="{%static 'images/img44.jpg' %}"  width="450px" height="340px" alt="..." id="d1" >
            </div>

            <div  style="height: 400px; width: 760px; float: left; margin-top: 0px; text-align: justify; font-family: Times New Roman;  ">
                <br>
                <h3 id="d3">Our poolside art gallery offers a captivating blend of relaxation and inspiration. Located just steps away from the sparkling pool, it's a space where you can enjoy the calming presence of water while immersing yourself in the world of art. Admire a carefully curated collection of paintings, sculptures, and photographs that celebrate the connection between nature and creativity. Whether you're taking a leisurely swim, lounging by the pool, or simply strolling by, the gallery provides a serene backdrop for appreciating the work of talented artists.</h3>

            </div>
        </div>

        

        <div style="height: 400px; width:100%;">
            <div  style="height: 400px; width: 760px; float: left; margin-top: 0px; text-align: justify; font-family: Times New Roman;">
                <br><br>
                <h3 id="d3">This concept of a poolside art gallery offers a unique and serene experience for art lovers and guests who wish to enjoy both the beauty of art and the tranquil surroundings of a pool area. You can adapt the description to match the specific features and atmosphere of the gallery you have in mind. Join us for tranquil moments of art appreciation where the soothing sounds of water and the power of creativity merge.
                </h3> 
            </div>

            <div style="height: 400px; width: 500px;  float: left; margin-top: 0px;" >
                <img src="{%static 'images/img4.jpg' %}"  width="450px" height="340px" alt="..." id="d1" >
            </div>
        </div>




        <div style="height: 400px; width:100%; ">
            <div style="height: 400px; width: 500px;  float: left; margin-top: 0px;  " >
                <img src="{%static 'images/img18.jpg' %}"  width="450px" height="340px" alt="..." id="d1" >
            </div>

            <div  style="height: 400px; width: 760px; float: left; margin-top: 0px; text-align: justify; font-family: Times New Roman; ">
                <br>
                <h3 id="d3">Embrace the magic of the night as the cityscape transforms into a breathtaking tapestry of shimmering lights. As the sun sets, a captivating world awakens, adorned with an enchanting array of lights that dance across the skyline. The city takes on a new life, where each building, bridge, and street becomes a work of art in the darkness. The warm glow of street lamps, the neon signs, and the twinkle of stars above create a surreal ambiance. It's a time when the city reveals its most alluring secrets, inviting you to explore and be captivated by its nocturnal charm.</h3>

            </div>
        </div>
        <br>
    </div>

    {% endblock %}
    
</body>
</html>